/* Steps in form*/
.steps{
    width: 307px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.steps ul{
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.steps ul:before{
    content: '';
    position: absolute;
    background: linear-gradient(left, #00C1E9 0%, #DFE0EB 79.17%);
    background: -webkit-linear-gradient(left, #00C1E9 0%, #DFE0EB 79.17%);
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
}
.steps ul.reverse:before{
    background: linear-gradient(left, #DFE0EB 0%, #00C1E9 79.17%);
    background: -webkit-linear-gradient(left, #DFE0EB 0%, #00C1E9 79.17%);
}
.steps ul li{
    display: inline-block;
    z-index: 2;
}
.steps ul li span{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #DCE3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252733;
    font-size: 24px;
    font-weight: 700;
}
.steps ul li.current span{
    background: #00C1E9;
    border: 1px solid #00C1E9;
    color: #ffffff;
}

/* card design */
.card-sub-title{
    /* Body Bold */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    /* Border */
    color: #ABB7C9;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.user-form .row .col-md-6:first-child{
    padding-right: 61px;
}
.user-form .row .col-md-6:last-child{
    padding-left: 61px;
}
.form-control, .custom-file-label{
    border-radius: 0px;
}
.custom-file-input:lang(en)~.custom-file-label:after{
    background-color: #0681A9;
    color: #fff;
    content: 'Choose File';
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../img/select.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

form label.error {
    color: #ff0000;
}

.btn-common{
    background-color: #0681A9;
    color: #fff;
}
.btn-common:hover{
    color: #fff;
}
.plr-50{
    padding: 0px 50px;
}
.p-20{
    padding: 20px;
}
.w-70{
    width: 70%;
}
.hidden{
    display: none;
}

/* Datatable */
.table-responsive td:not(.btn-td){
    overflow: visible;
    z-index: 1;
}
.table tr:last-child td{
    border-bottom: 1px solid #DFE0EB;
}
.dataTables_length select{border: 0px; color: #00C1E9;font-size: 14px; padding: 0; padding-right: 0.5rem}
.dataTables_wrapper .bottom { float: right}
.dataTables_wrapper .bottom div{ display: table-cell; padding: 0 10px;}
.previous .page-link{ content: ''}
.dataTables_info, .dataTables_length{ color: #9FA2B4}
.page-link{
    margin: 0 0.5rem;
    padding: 0.3rem;
}
.page-item.previous .page-link, .page-item.next .page-link{
    background: none;
    color: #0681A9;
    border: none;
    border-radius: 0px;
}
.page-item.active .page-link{
    background: none;
    color: #00C1E9;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #00C1E9;
}
.button{
    border-radius: 100px;
    width: 68px;
    height: 24px;    
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.red-button{
    background: #EB5757;
    padding: 10px;
}
.green-button{
    background: #29CC97;
    padding: 10px 16px;
}

.updated_at{
    /* Fields */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    /* Border */
    color: #ABB7C9;
}

.d-t-cell{
    display: table-cell;
    vertical-align: top;
}
.user-picture{
    height: 100%;
    width: 50px;
    display: table-cell;
}

.user-picture img{
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-right: 10px;
}
.image-preview img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.custom-file .btn-danger{
    display: none;
}
.user-form input[type=checkbox]{
    height: 17px;
    width: 17px;
    margin-top: 10px; 
    margin-right: 5px; 
}
.user-form input[type=checkbox]:checked{
    /* Vanilla Blue */
    background: #0681A9;
    border-radius: 3px;
}
.user-form .checkbox-label{
    line-height: 25px;
    vertical-align: middle;
}
.page-link{
    background: none;
    border: none;
}
.page-link:hover{
    background: none;
    border: none;
}
div.dataTables_wrapper div.dataTables_processing{
    top: 62%;
}
td.action-btn{
    text-align: center;
}
td.action-btn i.fa-ellipsis-v{
    color: #0681A9;
}
.card-preview{
    width: 100%;
}
.card-preview img{
    max-width: 300px;
    max-height: 100px;
}

#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
  }