body {
	background: url('home_banner.png') no-repeat;
	background-size: cover;
	font-family: verdana, arial;
	font-size: 12px;
	margin:0;
	padding:0;

}
.box {
	background: #fff;
	border-radius: 15px;
	padding: 15px;
	border: 1px solid  #ddd;
}

.box-login {
	width: 50%;
	margin:0 auto;
	text-align: center;
	margin-top: 10%;
}

.box-login input {
	font-size: 15px;
	padding: 15px;
	width: 95%;
	margin: 10px;
	border:1px solid #ddd;
	border-radius: 15px;
}
.box-login button {
	padding: 15px;
	width: 95%;
	font-size: 15px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}

.errorMessage {
	background: #f8d7da;
	padding: 5px;
	color: #721c24;
}



/* header **/
header {
	background:#0e2442;
	height: 100px;
	width: 100%;	
}

.logo {
	width: 15%;
}

.logo, .filter {
	float: left;
}
.filter {
	width: 50%;
	color: #fff;
}

.filter-heading {
	font-size: 15px;
	color: #fff;
	margin: 10px 0px;
}

.filter input {
	padding: 5px;
	font-family: verdana, arial;
	font-size: 15px;
}

.navigation {
	float: right;
	width: 25%;
	text-align: right;
	padding: 20px;
	font-size: 15px;
	color: #fff;
}

.navigation a {
		color: #fff;
		font-weight: bold;
		
}

.clearfix {
	clear:both;
}

.logo {
	padding: 10px;
}

.logo img {
	width: 200px;
	height: auto;
}

.column {
	float: left;
	width: 33%;
	text-align: center;
}
.column .padding {
	padding: 10px;
}

.column-2 {
	float: left; 
	width: 49%;
}

.column-2 .padding{
	padding: 10px;
}

.column-large {
	width: 99%;
	margin:0 auto;
}

#data .box {
  padding: 5px;
}

#data .box h2 {
	margin:0;
	padding:0;
	background: #56c2e9;
	color:#fff;
	padding: 5px;
	border-radius: 10px;
}

.data-row {
	padding: 10px;
	font-size: 14px;
}

.data-row-label {
	float: left;
	width: 50%;
	text-align: right;
	font-weight: bold;
	
}

.data-row-value {
	float: left;
	width: 50%;
	text-align: left;

}
.padding-small {
	padding: 5px;
}
.gray {
	background: #f1f1f1;
}
.small-box {
	border: 1px solid #ddd;
	margin: 5px;
	height: 80px;
}
.small-box .title {
	font-size: 14px;
	font-weight: bold;
	height: 40px;
}
.small-box .percentage {
	font-size: 20px;
	height: 20px;
}